elevation(e)
  elevation-value = s("0 %spx %spx rgba(0, 0, 0, 0.12), 0 %spx %spx rgba(0, 0, 0, 0.24)", e, e, e, e)
  box-shadow: elevation-value
  z-index: e
  transition: all 0.4s ease
  transform: "translate(0, -%spx)" % (e / 2)

p
  opacity: 1
