select
  display: block
  background-color: white
  border: none
  font-size: 30px
  outline: none
  border-radius: 2px
  padding: 5px
  margin: 10px 0
  elevation: 2

  &:hover
    elevation: 5

option
  background-color: lighten(cyan, 80%)
