base03 = #002b36
base02 = #073642
base01 = #586e75
base00 = #657b83
base0 = #839496
base1 = #93a1a1
base2 = #eee8d5
base3 = #fdf6e3
yellow = #b58900
orange = #cb4b16
red = #d30101
magenta = #d33682
violet = #6c71c4
blue = #268bd2
cyan = #2aa198
green = #859900

languages = {
  'CoffeeScript': coffee coffeescript
  'Ruby': ruby rb
  'Python': python py
  'JavaScript': javascript js
  'Stylus': stylus styl
}

code::before
  display: block
  font-family: lato, sans-serif
  font-size: 20px
  padding: 0 0 10px 0

for language-name, names in languages
  for name in names
    code.language-{name}::before
      content: language-name

pre code
  display: block
  overflow-x: auto
  padding: 0.5em
  background: base03
  color: base0
  border-radius: 5px

.hljs-comment,
.hljs-quote
  color: base01

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition
  color: green

.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp
  color: cyan

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class
  color: blue

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type
  color: yellow

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link
  color: orange

.hljs-built_in,
.hljs-deletion
  color: red

.hljs-formula
  background: base02

.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: bold

