select {
  display: block;
  background-color: #fff;
  border: none;
  font-size: 30px;
  outline: none;
  border-radius: 2px;
  padding: 5px;
  margin: 10px 0;
  elevation: 2;
}
select:hover {
  elevation: 5;
}
option {
  background-color: #cff;
}
