h1{font-size:20}h1::before,h2::before{-webkit-transition:-webkit-transform 2s ease;transition:transform 2s ease;transition:transform 2s ease,-webkit-transform 2s ease}h1,h2{font-weight:700}h2::before{-webkit-transform:translateX(-40);transform:translateX(-40)}