/*
Gruvbox style (light) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)
*/

fg = #3c3836
bg = #fbf1c7

red = #9d0006
green = #79740e
yellow = #b57614
blue = #076678
purple = #8f3f71
aqua = #427b58
gray = #928374
orange = #af3a03

.hljs
  display: block
  overflow-x: auto
  padding: 0.5em
  background: bg

.hljs,
.hljs-subst
  color: fg

.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag
  color: red

.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable
  color: blue

.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type
  color: yellow

.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number
  color: purple

.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable
  color: orange

.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol
  color: green

.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag
  color: aqua

.hljs-comment
  color: gray

.hljs-link_label,
.hljs-literal,
.hljs-number
  color: purple

.hljs-comment,
.hljs-emphasis
  font-style: italic

.hljs-section,
.hljs-strong,
.hljs-tag
  font-weight: bold
