style = 'light'

gruvbox = {
  dark: {
    fg: #ebdbb2
    bg: #282828

    red: #fb4934
    green: #b8bb26
    yellow: #fabd2f
    blue: #076678
    purple: #d3869b
    aqua: #427b58
    gray: #928374
    orange: #fe8019
  }
  light: {
    fg: #3c3836
    bg: #fbf1c7

    red: #9d0006
    green: #79740e
    yellow: #b57614
    blue: #076678
    purple: #8f3f71
    aqua: #427b58
    gray: #928374
    orange: #af3a03
  }
}

fg = gruvbox[style].fg
bg = gruvbox[style].bg

red = gruvbox[style].red
green = gruvbox[style].green
yellow = gruvbox[style].yellow
blue = gruvbox[style].blue
purple = gruvbox[style].purple
aqua = gruvbox[style].aqua
gray = gruvbox[style].gray
orange = gruvbox[style].orange

.hljs
  display: block
  overflow-x: auto
  padding: 0.5em
  background: bg

.hljs,
.hljs-subst
  color: fg

.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag
  color: orange

.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable
  color: purple

// .hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type
  color: fg

.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number
  color: purple

.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable
  color: orange

.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol
  color: green

.hljs-class

  & > .hljs-keyword
    color: purple

  & > .hljs-title
    color: green
    font-weight: bold

.hljs-attribute,
.hljs-bullet,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag
  color: yellow

.hljs-comment
  font-style: italic
  color: gray

.hljs-link_label,
.hljs-literal,
.hljs-number
  color: purple

.hljs-emphasis
  font-style: italic

.hljs-section,
.hljs-strong,
.hljs-tag
  font-weight: bold
