doctype html
html
  head
    title Glug
    link(rel="stylesheet" href="/styles.css")
  body
    h1 Glug
    h2 The ultimate build tool

    .window
      .toolbar
        .close.icon
        .min.icon
        .max.icon
        .title Terminal
      .contents: pre
        | $ npm i -g glug
        | [..................] \ normalizeTree: sill install loadCurrentTree
        | 
        | $ glug watch
        | ⠏ styles.styl stylus › autoprefixer › csso
        | ✔ index.pug pug › html-minifier

