*, *::before, *::after
  box-sizing: border-box

green = #b8bb26
blue = #83a598
cyan = #8ec07c

term = {
  height: 300px
  background: #282828
  icon-width: 13px
  toolbar: linear-gradient(#e0e0e0, #c3c3c3)
  title-color: #4e4e4e
  foreground: #ebdbb2
  toolbar-height: 27px
  close: {
    bg: #fc5e59
    border: #e24a46
  }
  min: {
    bg: #fdbb3f
    border: #dfa84a
  }
  max: {
    bg: #31c748
    border: #5abb65
  }
}

term.toolbar-margin = ((term.toolbar-height - term.icon-width - 2px) / 2)

lato = Lato, sans-serif
mac = 'Helvetica Neue', Helvetica, Arial, Lato
monospace = 'Mononoki', 'Source Code Pro', unquote('monospace')

body
  background-color: white
  font-family: lato
  min-height: 150vh

h1
h2
  text-align: center
  color: red

h1
  color: blue

span
  &.green
    color: green

  &.red
    color: red

  &.yellow
    color: yellow

  &.blue
    color: blue

  &.cyan
    color: cyan

  &.gray
    color: gray

  &.bold
    font-weight: bold

  &.underline
    text-decoration: underline

.window
  border: 1px solid #a1a1a1
  position: absolute
  left: 50%
  top: calc(100vh - 200px)
  transform: translateX(-50%)
  font-family: mac
  box-shadow: -10px 13px 48px 4px alpha(black, .7)
  overflow: hidden
  border-radius: 4px
  width: 500px
  max-width: calc(100% - 35px)

  pre
    margin: 0

    &::selection
      opacity: 1
      background-color: white
      color: term.background


  .icon
    line-height: term.toolbar-height
    display: inline-block
    margin: term.toolbar-margin
    margin-right: 0
    width: term.icon-width
    height: term.icon-width
    border-radius: 50%

    &.close
      background-color: term.close.bg
      border: 1px solid term.close.border

    &.min
      background-color: term.min.bg
      border: 1px solid term.min.border

    &.max
      background-color: term.max.bg
      border: 1px solid term.max.border

  .title
    font-size: 15px
    user-select: none
    line-height: term.toolbar-height
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    color: term.title-color

  .toolbar
    border-bottom: 2px solid #7e7e7e
    position: relative
    height: term.toolbar-height
    background: term.toolbar

  .contents
    height: term.height
    overflow-x: auto
    font-family: monospace
    padding: 5px
    background-color: term.background
    color: term.foreground

    &::before
      contents: '$ '

    &::-webkit-scrollbar
      display: none
