term = {
  background: #282828
  title: #bfbfbf
  foreground: #ebdbb2
  toolbar-height: 25px
}

lato = Lato, sans-serif
mac = 'Helvetica Neue', Helvetica, Arial, Lato
monospace = 'Mononoki', 'Source Code Pro', unquote('monospace')

body
  background-color: white
  font-family: lato

h1
h2
  text-align: center
  color: red

h1
  color: blue

.window
  font-family: mac
  box-shadow: 5px 5px 40px alpha(black, .7)
  overflow: hidden
  border-radius: 4px
  width: 500px

  .icon
    line-height: term.toolbar-height
    display: inline-block
    // margin: 0 3px
    width: 15px
    height: @width
    border-radius: 50%
    background-color: red

  .title
    line-height: term.toolbar-height
    // position: absolute
    // left: 50%
    // top: 50%
    // transform: translate(-50%, -50%)

  .toolbar
    // position: relative
    height: term.toolbar-height
    background-color: term.title

  .contents
    font-family: monospace
    padding: 10px
    background-color: term.background
    color: term.foreground

    &::before
      contents: '$ '

